html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;  
    image-rendering: pixelated;/* zoom image without AA */
}

::-webkit-scrollbar {
  display: none;
}

/* header */
.navbar{
    background-color: rgb(207, 144, 93);
  }

.logo{
  height: 96px;
}

.title1{height: 48px;}



@media (max-width: 1200px) {
  .logo{height: 48px;}
  .title1{height: 32px;}
}


.intro_img{
height: 256px;
}


.nav_img{
  height: 96px;
  width: 96px;
}


#go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:rgb(156, 44, 44);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.7;
}

#go-top-btn:hover {
  background-color: rgb(156, 44, 44); /* Add a dark-grey background on hover */
opacity: 1;
}



/* footer */
#footer{
  padding: 2.5% 0 0.5% 0;
  margin-top:5%;
  background-color: rgb(207, 144, 93);
 }
 
 .title{
  display: flex;
  justify-content:center ;
  height: 48px;
}

 .footerIconList{
   display: flex;
   justify-content:center ;
 }
 
.footerIcon{
  padding-right: 1%;
  transition: transform 0.3s ease-in-out; 
}

 .footerIcon:hover{
   cursor: pointer;
   transform: translateY(-10px); 
 }

/* common */
.box{
    background-color:  rgb(226, 175, 113);
    height: 300px;
    width: auto;
    margin-top: 10%;
    padding-top: 5%;
}

/* about */


.icon{
  height: 256px;
  width: 256px;
    display: flex;
    justify-content: center;
}

/* information */

/* gallery */
.galleryImg{
    width: 100%;
    height: 250px;
 object-fit: cover; 
}
 
.galleryCon{
    background-color: rgb(255, 239, 220);
  }

/* commission */
/* market */
/* tutorial */
/* contact */
.text{
  margin: auto;
  line-height: 150%;
}

/* keyframes_animation */
.icon,.card-img-top {
  opacity: 1;
  animation: fade 1s ;
}

/* keyframes */
@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}




/* 
.navbar-expand-xl .navbar #menu .menu li:nth-child(1)::before{border:none}header .navbar-expand-xl .navbar #menu .menu 
    li::after
    {content:"";
      display:block;
      position:absolute;
      margin:auto;
      left:0;
      right:0;
      width:82px;
      height:69px;
      z-index:1}

     
     header .navbar-expand-xl .navbar #menu .menu li a
     {
      position:relative;
      text-decoration:none;
      color:#303030;
      display:block;
      -webkit-transition:0.15s ease;
      transition:0.15s ease;
      -ms-transition:0.15s ease;
      padding:77px 30px 0 30px;z-index:2}
     */

     .filter-btns {
      display: flex;
      justify-content: center;
  }
  .filter-btns button {
      margin: 0 10px;
  }
  /* .card {
      display: none;
  } */
  .card.active {
      display: block;
  }
  

#menu{
  text-align: center;
}

  @media (max-width: 1200px) {
    .nav-item {
      display: flex;
      align-items: center;
      padding-bottom: 3%;
      }
      /* .nav_img {
      flex-shrink: 0;
      } */
    }

    @media (min-width: 1200px) {
    .nav-item{
      padding-right: 48px;
      padding-top: 10px;
    } 
  }

  @media (max-width: 767px) {
    .footerIconList{
      padding-top:2% ;
    } 
  }

   
 
.local_nav {
    list-style-type: none;
    position: fixed;
    right: 2%;
    top: 50%;
    /* margin-top: -160px; */
    z-index: 400;
  }

.square{
    width: 10px;
    height: 10px;
    background-color: rgb(116, 91, 91);
    /* border: 1px solid rgb(96, 50, 50); */
  }
  
.square:hover {
      filter: brightness(70%);
  }

  @media (max-width: 767px) {
    .square{
      width: 5px;
      height: 5px;
    } 
  }

  
  .local_nav_item{
    padding-bottom: 250%;
  }

 
  .intro-img{
    text-align: center;
    }

.line{
    max-width: 100%;
    height: auto;
}

ul {
  list-style-type: none;
}

.formTitle{
  padding-bottom: 3%;
}

.formTitle{
  font-size: 24px;
}

.formText{
  font-size: 16px;
}